<h2>FAQ / Game Types</h2>
<h3>Saturday Gold Lotto</h3>
  <p> Find out more on how to play <a title="How to Play" href="https://thelott.com/saturday-gold-lotto/how-to-play" target="_self">Saturday Gold Lotto</a></p>
<h3>Oz Lotto</h3>
  <p>Find out more on how to play <a title="How to Play" href="https://thelott.com/oz-lotto/how-to-play"  target="_self">Oz Lotto</a></p>
<h3>Powerball</h3>
  <p>Find out more on how to play <a title="How to Play" href="https://thelott.com/powerball/how-to-play"  target="_self">Powerball</a></p>
<h3>Monday &amp; Wednesday Gold Lotto</h3>
    <p>Find out more on how to play <a title="How to Play" href="https://thelott.com/mon-wed-gold-lotto/how-to-play"
        target="_self">Monday &amp; Wednesday Gold Lotto</a></p>
<h3>Set for Life</h3>
    <p> Find out more on how to play <a title="How to Play" href="https://thelott.com/set-for-life/how-to-play"
  target="_self">Set for Life</a></p>
<h3>Super 66</h3>
    <p> Find out more on how to play <a title="How to Play" href="https://thelott.com/super-66/how-to-play"  target="_self">Super 66</a></p>
<h3>Lucky Lotteries</h3>
<ul>
  <li>Odds of winning the Jackpot prize in Super Jackpot are 1 : 18,385,876</li>
  <li>Odds of winning any prize in Super Jackpot are 1 : 23.03</li>
  <li>Odds of winning the Jackpot prize in Mega Jackpot are 1 : 9,483,167</li>
  <li>Odds of winning any prize in Mega Jackpot are 1 : 16.14<br>
  </li>
</ul>
<p> Find out more on how to play <a title="How to Play" href="https://thelott.com/lucky-lotteries/how-to-play"  target="_self">Lucky Lotteries</a></p>